.button {
	padding: 0.5rem 1.5rem;
	border: 2px solid #eaba6b;
	border-radius: 6px;
	color: #000;
	font-weight: 700 !important;
	text-decoration: none;
	background-color: #eaba6b;
	text-align: center;
	font: inherit;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		color: #eaba6b;
		border-color: #eaba6b;
		background-color: #0075a2;
		outline-color: #eaba6b;
	}

	&:focus {
		outline: 2px solid webkit-focus-ring-color;
		outline-offset: -2px;
	}

	span {
		margin: 0 0.5rem;
	}

	.badge {
		background-color: #0075a2;
		border-radius: 30px;
		padding: 0.15rem 1.25rem;
		color: #eaba6b;
	}
}
